<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/shopLayout}">


<div class="container" style="margin-top: 0px; width:100% !important; min-width:1100px;"
	layout:fragment="container">
<link rel="stylesheet" href="/css/imgSlider.css">
<div id="banner" class="banner">
  <ul>
    <li> <img src="http://mutnam.com/web/main/pc/181217_main1.gif" alt="">
    </li>
    <li> <img src="http://mutnam.com/web/main/pc/181211_main5.jpg" alt="">
    </li>
    <li> <img src="http://mutnam.com/web/main/pc/181211_main2-1.jpg" alt="">
    </li>
    <li> <img src="http://mutnam.com/web/main/pc/181211_main6.jpg" alt="">
    </li>
    <li> <img src="http://mutnam.com/web/main/pc/181211_main3.jpg" alt="">
    </li>
    <li> <img src="http://mutnam.com/web/main/pc/181211_main4.jpg" alt="">
    </li>
  </ul>
</div>
<script src="/js/jQuery.autoSlider.js"></script> 
<script>
  $(function(){
    $('.banner').autoSlider({
      speed: 800, 
      delay: 3000, 
      dots: true, 
      stay: true,
      fluid: true 
    });
  });
  </script>

<div style="margin:0 auto; width:1100px !important">
	<div class="todaySinsang" style="margin-top: 76px;">
		<span style="background-color: #fff; padding: 0 10px;">오늘의 신상</span>
		<div class="div_line_grey_2px"
			style="margin-top: -8px; margin-bottom: 16px;"></div>
	</div>

	<div style="width: 1100px; margin: 0 auto;">
		<ul id="goodsList"
			style="list-style: outside none none; padding: 0px; position: relative; overflow: hidden;">
				<ul class="goods_ul" th:each="arr :${product}">
					<li th:class="|goodsContainer store_${arr.sno}|"
						style="margin-right: 5px;" th:id="|link_${arr.pno}|">
						<div class="goodsImg"
							style="position: relative; width: 270px; height: 353px;">
							<img th:id="|img_${arr.pno}|" class="productImg"
								style="width: 100%; display: block;">
						</div>
						<div class="goodsInfo" style="position: relative;">
							<div class="goodsName" th:text="${arr.pname}" style="">PNAME</div>
							<div class="storeLocation"
								style="font-size: 13px; color: #9b9b9b; margin-top: 4px;"
								th:text="${arr.sname}">SNAME</div>
						</div>
						<div style="margin: 0 15px;">
							<span style="float: left; font-size: 12px; margin-top: 7px;"></span><span
								style="float: right; font-size: 20px; font-weight: bold; margin-top: 7px;"
								th:text="${arr.price}">PRICE</span>
						</div> <span class="mouseOverBorder"></span>
					</li>
				</ul>
			<div class="notListMsg"></div>
			<table id="goList" class="basketGoodsTableEnd" cellspacing="0" 
			style="width: 100%; border: 1px solid #e5e5e5; margin-top:20px; cursor:pointer">
					<tr class="paymentOption height50 payMethodTR">
						<td id="storePayMethod_0" class=" storeLengthCount" colspan="5" style="border-spacing: 10px; 
							padding: 0px 20px; text-align:center; font-size:16px; ">더보기</td>
					</tr>
			</table>
		</ul>
		
	</div>
	<form id="mainForm">
</form>
</div>
</div>

<th:block layout:fragment="script">
	<script th:inline="javascript">
	$(document).ready(function() {
		
		var mainForm = $("#mainForm");
		
		$("#goList").click(function(){
			
			window.location.href="/user/list";
		});
		
		$(".goodsContainer").click(function(e){
			var pno = $(this).attr("id").substring(5);
			var sno = $(this).attr("class").substring(21);
			mainForm.append("<input type='hidden' name='pno' value='"+pno+"'>");
			mainForm.append("<input type='hidden' name='sno' value='"+sno+"'>");
	
			mainForm.attr("action","/store/detail").submit();
		});
	});
	</script>
</th:block>
</html>