<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_name" th:content="${_csrf.parameterName}"/>
<title>상품 상세정보</title>
<link href="/css/common.css?20180918" type="text/css" rel="stylesheet">
</head>
<body>
	<style>
td {
	text-align: center;
}
.detail_con{
	padding:20px 0 20px 20px;
}

.myPageSheetTable{
	border-top:1px solid #aaa;
}

.myPageSheetTable th{
	border-top: 0px;
	border-bottom: 1px solid #e1e1e1;
    font-weight: bold;
    color:#333;
    height: 45px;
    font-size:14px;
}

.cell{
	border-left: 1px solid #e1e1e1;
    color:#333;
}

</style>
	<div id="detailContents" class="detail_con"  th:with="order=${detail[0]}" >
		<div class="detail_table_info">
			<p class="info_tit">주문정보</p>
			<table width="100%"  class="myPageSheetTable">
				<colgroup>
					<col width="96">
					<col width="208">
					<col width="185">
					<col width="100">
					<col width="140">
					<col width="130">
				</colgroup>
				<thead>
					<tr>
						<th>주문번호</th>
						<th>주문상품</th>
						<th>결제금액</th>
						<th>상태</th>
						<th>배송조회</th>
						<th>주문취소</th>
					</tr>
				</thead>
				 <tbody th:each="arr: ${detail}" class="orderInfo">
					<tr>
						<td class="first_cell">
							<div class="td_detail2" th:text="${arr.odno}"></div>
						</td>
						<td class="cell">
							<div class="td_info">
								<p><a href="" th:text="${arr.product.imgList}"><img src="" class="thumb"></a></p>
								<ul>
									<li class="seller_info">
									<a href="" th:text="${arr.product.sno}"></a>
									</li>
									<li class="tit_info">
									<a th:href="|javascript:window.open('/store/detail?pno=${arr.pno}&sno=${arr.product.sno}')|" th:text="${arr.product.pname}"></a></li>
									<li th:text="|수량 : ${arr.qty} 개|"></li>
								</ul>
							</div>
						</td>
						<td class="cell">
							<table class="price_chk">
								<colgroup>
									<col width="70%">
									<col>
								</colgroup>
								<tbody>
									<tr>
										<td>판매가</td>
										<td class="last_num" th:text="|${arr.product.price}원|"></td>
									</tr>
								</tbody>
							</table>
						</td>
						<td class="cell">
							<div class="td_status">
								<span class="btn_bg2 btn_status_b1">배송중</span>
							</div>
						</td>
						</td>
						<td class="cell">
							<div class="td_status">
								<span th:text="|송장번호 : [${arr.dno}]|">운송장 번호</span>
								<p name="p_parcel">
									<a th:href="|https://tracker.delivery/#/kr.epost/${arr.dno}|"
									 target="_blank">배송조회</a>
								</p>
							</div>
						</td>
						<td  class="cell">
							<button class="basketSwapBtn orderRemove" th:id="${arr.odno}">주문 취소</button>
						</td>
					</tr>
					
				</tbody>
			</table>
		</div>
		<!-- <div class="detail_table_info">
			<p class="info_tit mart30">배송정보</p>
			<table width="100%"  class="myPageSheetTable">
				<colgroup>
					<col width="96">
					<col width="358">
				</colgroup>
			
				<tbody class="orderInfo">
					<tr>
						<td class="first_cell">이름</td>
						<td class="cell" th:text="${#authentication.principal.member.mname}">NAME</td>
					</tr>
					<tr>
						<td class="first_cell">연락처</td>
						<td><input type="text" id="pnum">- 
							<input type="text" id="pnum2">- 
							<input type="text" id="pnum3">
						</td>
					</tr>
					<tr>
						<td class="first_cell">주소</td>
						<td class="first_cell">
						<input type="text" th:value="${order.address}">
						<input type="text" th:value="${order.addressdetail}"></td>
					</tr>
					
				</tbody>
			</table>
			
		</div> -->
	</div>
	<form id="orderDetailForm" method="post" action="/user/mypage/orderDetail">
	
	</form>
</body>

<script src="/js/jquery.min.js"></script>
<script>
$(document).ready(function(){
	var token = $("meta[name='_csrf']").attr("content");
	var csrfName = $("meta[name='_csrf_name']").attr("content");
	var ono = String([[${detail[0].ono}]]);
	var tel = String([[${detail[0].pnum}]]);
	
	$("#pnum").val("0"+tel.substring(0,2));
	$("#pnum2").val(tel.substring(2,6));
	$("#pnum3").val(tel.substring(6));
	
	$(".orderRemove").click(function(){
		$("#orderDetailForm").append("<input type='hidden' name='odno' value='"+$(this).attr("id")+"'>")
							.append("<input type='hidden' name='ono' value='"+ono+"'>")
							.append("<input type='hidden' name='"+csrfName+"' value='"+token+"'>")
							.submit();
	});
});
</script>

</html>