<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/sellerLayout}">


<div class="container" style="margin-top: 20px;"
	layout:fragment="container">

<h2 align="center">판매자 회원 관리</h2>


	<div class="row">
       <div class="input-group custom-search-form" style="width:200px; float: right;">
       
       <select name="sfl" class="form-control" id="userSearchInput" >
            <option value="mb_id">회원아이디</option>
            <option value="mb_name">이름</option>
            <option value="mb_nick">별명</option>
            <option value="mb_level">권한</option>
            <option value="mb_email">E-MAIL</option>
            <option value="mb_tel">전화번호</option>
            <option value="mb_hp">핸드폰번호</option>
            <option value="mb_point">포인트</option>
            <option value="mb_datetime">가입일시</option>
            <option value="mb_ip">IP</option>
            <option value="mb_recommend">추천인</option>
        </select>
           <input type="text" class="form-control" id="userSearchInput" placeholder="Search...">
           <span class="input-group-btn">
	           <button class="btn btn-default" type="button" id="userSearch" style="height: 68px">
	               <i class="fa fa-search"></i>
      		</span>
       </div>
       
		<div class="row">
			<div class="col-sm-12" align="center">
			
						<table class="table table-striped table-bordered"
				style="width: 20%; max-width:1100px; float:left";>
				<tbody>
					<tr>
						<td><input type='checkbox' class="sortChk" id="chk"></td>
						<td>ALL</td>
						<td><input type='checkbox' class="sortChk" id="approvedChk"></td>
						<td>APPROVED</td>
						<td><input type='checkbox' class="sortChk" id="unapprovedChk"></td>
						<td>UNAPPROVED</td>
						<td><input type='checkbox' class="sortChk" id="banChk"></td>
						<td>BAN</td>
					</tr>
				</tbody>
			</table>
			
			
				<table width="100%"
					class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline"
					id="dataTables-example" role="grid"
					aria-describedby="dataTables-example_info" style="width: 100%";>
					<thead>
						<tr role="row" style="text-align: center;">
							<th class="sorting_asc" tabindex="0"
								aria-controls="dataTables-example" rowspan="1" colspan="1"
								aria-sort="ascending"
								aria-label="Rendering engine: activate to sort column descending"
								style="width: 50px;"></th>
							<th class="sorting" tabindex="0"
								aria-controls="dataTables-example" rowspan="1" colspan="1"
								aria-label="Browser: activate to sort column ascending"
								style="width: 120px;">판매자ID</th>
							<th class="sorting" tabindex="0"
								aria-controls="dataTables-example" rowspan="1" colspan="1"
								aria-label="Platform(s): activate to sort column ascending"
								style="width: 150px;">판매자이름</th>
							<th class="sorting" tabindex="0"
								aria-controls="dataTables-example" rowspan="1" colspan="1"
								aria-label="CSS grade: activate to sort column ascending"
								style="width: 80px;">판매자 사업자번호</th>
							<th class="sorting" tabindex="0"
								aria-controls="dataTables-example" rowspan="1" colspan="1"
								aria-label="CSS grade: activate to sort column ascending"
								style="width: 100px;">최종접속</th>
							<th class="sorting" tabindex="0"
								aria-controls="dataTables-example" rowspan="1" colspan="1"
								aria-label="CSS grade: activate to sort column ascending"
								style="width: 80px;">권한</th>
							<th class="sorting" tabindex="0"
								aria-controls="dataTables-example" rowspan="1" colspan="1"
								aria-label="CSS grade: activate to sort column ascending"
								style="width: 40px;">회원삭제</th>
							<th class="sorting" tabindex="0"
								aria-controls="dataTables-example" rowspan="1" colspan="1"
								aria-label="CSS grade: activate to sort column ascending"
								style="width: 100px;">인증 및 수정</th>

						</tr>
					</thead>
					<tbody>

						<tr class="gradeA odd" role="row" th:each=arr:${seller}>
							<td class="sorting">
							<input type="checkbox" class="chk" name="checkbox" th:id="|chk_${arr.sid}|"></td>
							<td class="sid" th:text=${arr.sid}></td>
							<td class="sname" th:text=${arr.sname}></td>
							<td class="bnum" th:text=${arr.bnum}></td>
							<td class="updatedate" th:text="${#dates.format(arr.updatedate,'yyyy-MM-dd')}"></td>
							<td class="auth">
							<select th:id="|select_${arr.sid}|" th:class="|select auth_${arr.authList[0].ano}|">
									<option value="approved">승인 판매자</option>
									<option value="unapproved">미승인 판매자</option>
									<option value="ban">판매금지 판매자</option>
							</select></td>
	
							
							<td class="del"><input type="button" id="del"
								th:value="${arr.del}" style="width: 90px; text-align: center;" readonly></td>
								
							<td class="button">
							<button type="button" class="btn btn-primary btn-circle"><i class="fa fa-pencil"></i></button>
							<button type="button" class="btn btn-info btn-circle"><i class="fa fa-check"></i></button>
							<button type="button" class="btn btn-warning btn-circle"><i class="fa fa-times"></i></button>
							</td>
							
<!-- 							<td class="price" th:text=${arr.product.price}></td>
							
							<td class="shipnumber"><input type="number" th:id="|ship_${arr.odno}|" th:value="${arr.dno}" /></td> -->

				<!-- 	 <td class=""><button type="submit" data-oper='remove' class="btn-remove basketSwapBtn" 
 						style="width:80px; color:#fff; background: black;" th:data-ono="${arr.ono}">주문취소</button> -->
					</tr>
					</tbody>
				</table>
			</div>

			<div id="dataTables-example_wrapper"
				class="dataTables_wrapper form-inline dt-bootstrap no-footer"
				style="align-item: left;">
				<div class="col-sm-6">
					<div align="left" id="dataTables-example_filter"
						class="dataTables_filter">

						<button type="submit" data-oper='remove' id="remove-btn"
							class="form-control input-sm" placeholder=""
							aria-controls="dataTables-example">삭제하기</button>
						<button type="submit" data-oper='modify' value="수정하기"
							class="form-control input-sm" id="modify-btn"
							aria-controls="dataTables-example">수정하기</button>

						<!-- 			<button type="submit" data-oper='remove' class="btn-remove basketSwapBtn" 
 						style="width:80px; color:#fff; background: black;" th:data-ono="${arr.ono}">주문취소</button> -->

					</div>
				</div>
			</div>

		</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="dataTables_info" id="dataTables-example_info"
				role="status" aria-live="polite">Showing 1 to 10</div>
		</div>

		<div class="pull-right">

			<ul class="pagination">
				<li class="paginate_button previous"
					th:if="${pageMaker.prev} == true"></li>
				<li style="display: inline-block; vertical-align: top;"
					th:each="page : ${pageList}">
					<button class="paginate_button" th:id="|page_${page}|"
						th:text="${page}">1</button>
				</li>
				<li class="paginate_button" th:if="${pageMaker.next} == true"></li>

			</ul>
		</div>

	</div>

	<form id="manageForm">
		<input type='hidden' name='amount' th:value='${pageMaker.cri.amount}' />
		<input type='hidden' id='pageNum' name='pageNum' th:value='${pageMaker.cri.pageNum}' /> 
			
	</form>
</div>




<div class="modal fade" id="modifyState" tabindex="-1" role="dialog"
	aria-labelledby="modifyModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modifyModalLabel">배송중으로 상태를
					변경하시겠습니까?</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				'배송하기'버튼을 누르면 해당 주문건은 배송하기로 변경됩니다. 정말로 변경하시겠습니까?
				<!--해당 글 삭제하는 주소값받는 input 태그-->
			</div>
			<div class="modal-footer">

				<button type="button" class="btn btn-primary" id="modifyState"
					onclick=location.replace="modifyURL">배송중으로 전환하기</button>

				<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>


<script src="/js/jquery.min.js"></script>
<th:block layout:fragment="script">
	<script th:inline="javascript">

$(document).ready(function(){
	
	var orderForm = $("#orderListForm");
	var pageMaker = [[${pageMaker}]];
	var manageForm = $("#manageForm");
	var pageMaker = [[${pageMaker}]];
	var product = [[${product}]];
	var seller = [[${seller}]];
	
	
		(function(){
				
				var cat = pageMaker.cri.category;
				if(cat == "approved"){
					$("input[id=approvedChk]").attr("checked",true);
				}else if(cat == "unapproved"){
					$("input[id=unapprovedChk]").attr("checked",true);			
				}else if(!cat){
					$("input[id=chk]").attr("checked",true);
				}
				
				$.each(seller, function(index, item){
					var auth = item.authList[0];
					$(".auth_"+auth.ano).val(auth.auth);
					
				});
			})();
	
	
		//자동체크박스체크
		$(".sortChk").change(function(){
			if($(this).attr("id") == "approvedChk"){
				manageForm.append("<input type='hidden' name='category' value='approved'>");
			}else if($(this).attr("id") == "unapprovedChk"){
				manageForm.append("<input type='hidden' name='category' value='unapproved'>");
			}else if($(this).attr("id") == "banChk"){
				manageForm.append("<input type='hidden' name='category' value='ban'>");
			}
			manageForm.submit();
		});
		
		$(".select").change(function(){
			$("#chk_"+$(this).attr("id").substring(7)).attr("checked",true);
		});
	
		
		//페이지
		$(".paginate_button").click(function(e) {
	        $("#pageNum").val(String($(this).attr("id")).substring(5));
	        orderForm.submit();
	    });
	    
	    $(".paginate_button previous").click(function(){
	        $("#pageNum").val(Number(pageMaker.startPage) -1);
	        orderForm.submit();
	    });
	    
	    $(".paginate_button next").click(function(){
	        $("#pageNum").val(Number(pageMaker.endPage) + 1);
	        orderForm.submit();
	    });
	    
	    
	    //삭제
		$('#remove-btn').click(function() {
		
			if (confirm("해당 주문건을 취소하시겠습니까?") == true){ 
				orderForm.html("");
				$("input[name='checkbox']:checked").each(function(index, item){
					
					orderForm.append("<input type='hidden' name='odno' value='"+item.value+"' >");
				});
				orderForm.attr("method", "post").attr("action","/exam/manage").submit(); 
			}else{ 
			    return;
			}
		});
	   
		//수정
		$("#modify-btn").click(function(){
			if (confirm("해당 주문건을 수정하시겠습니까?") == true){ 
				orderForm.html("");
				$("input[name='checkbox']:checked").each(function(index, item){
					
					var shipNum = $("#ship_"+item.value).val();
					if(String(shipNum) == ""){
						shipNum = -1;
					}
					
					
					var val = item.value+"_"+shipNum+"_"+$("#state_"+item.value).val();
					orderForm.append("<input type='hidden' name='option' value='"+val+"' >");
				});
				orderForm.attr("method", "post").attr("action","/exam/manage?sno=1").submit();
			}else{ 
			    return;
			}
		});
		
	});
	
	
	//페이지
	$(".paginate_button").click(function(e) {
		
		 $("#pageNum").val($(this).attr("id").substring(5));
		 manageForm.submit();
	});
	
	$(".paginate_button previous").click(function(){
		$("#pageNum").val(Number(pageMaker.startPage) -1);
		manageForm.submit();
	});
	
	$(".paginate_button next").click(function(){
		$("#pageNum").val(Number(pageMaker.endPage) + 1);
		manageForm.submit();
	});
});

	
	

/* 	    $('#modifyState').on('show.bs.modal', function(event){


var button = $(event.relatedTarget);
var modifyURL = button.data('title');
var modal = $(this);
var result = '<th:value = "${orderList.order.state}"/">';

checkModal(result);

function checkModal(result){
	
	if(result === ''){
		return;
	}
	
	if(parseInt(result) > 0){
    	$(".modal-body").html("해당주문건"+ parseInt(result) + 배송주문으로 상태를 전환합니다.);

	}
	
	$("#modifyState").modal("show");
}

})
*/
	</script>
</th:block>
</html>
