<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상품 상세정보</title>
</head>
<body>
	<div class="myPageContentArea" style="position: relative; width: 780px; min-height: 600px;">
		<div style="font-size: 20px; color: #202225; height: 40px; border-bottom: 1px solid #bebebe;">Seller Notify</div>
		
 		<div class="wishlistArea"
			style="left: 225px; width: 500px; margin-bottom: 68px; min-height: 600px;">
			<div style="font-size: 20px; color: #202225; height: 40px;">List</div>

			<table class="myPageSheetTable" cellspacing="0" style="width: 100%;">
				
				<thead>
					<tr style="background-color: #fff; padding: 0px; text-align: center;'">						
						<th class="">제목</th>						
						<th class="">등록일</th>
					</tr>
				</thead>
				<tbody id="questionlist_tbody">
					<tr class="height60" th:each="arr:${popupList}" style="text-align: center;">						
						<td><a class="move" th:href="${arr.sbno}" th:text=${arr.title}></a></td>				
						<td class="" th:text="${#dates.format(arr.updatedate,'yyyy-MM-dd')}"></td>
				</tbody>
			</table>
			
			<div style="text-align:center;">
				<div class="pageControlLeft" th:if="${pageMaker.prev} == true"></div>
				<div class="showPage" style="display:inline-block; vertical-align:top;"  th:each="page : ${pageList}">
					<button class="pageNum pageNumber" th:id="|page_${page}|" th:text="${page}">1</button></div>
				<div class="pageControlRight" th:if="${pageMaker.next} == true"></div>
			</div>
		</div>
		
		
		
		<form name="frm" method="post" action="">
		<div>		
		 <div><input class="PopupCheck" type="checkbox" name="pop"></div>
         <div style="font-size:11px;">1일동안 이 창을 열지 않음</div>
		 <div  style="font-size:11px;"><a id="closeBtn"  href="#" onfocus="this.blur()">[닫기]</a></div>
		</div>
		</form>
	
<form id="notifyForm">
		<input type='hidden' name='amount' th:value='${pageMaker.cri.amount}' />
		<input type='hidden' id='pageNum' name='pageNum'
			th:value='${pageMaker.cri.pageNum}' />
		<input type='hidden' name='sid' th:value='${seller.sid}'/>
</form>


<script src="/js/jquery.min.js"></script>
<th:block layout:fragment="script">
<script type="text/javascript" src="../js/jquery.cookie.js"></script>
	<script th:inline="javascript">

$(document).ready(function(){
	
	var notifyForm = $("#notifyForm");
	var popupList =[[${popupList}]];
	  
	  
	$(".move").on("click",function(e){
		
		console.log("click...");
		e.preventDefault();
		notifyForm.append("<input type='hidden' name='sbno' value='"+$(this).attr("href")+"' >");
		notifyForm.attr("action","/store/popup");
		notifyForm.submit();
	});
	
	function setCookie(name, value, expiredays){
	    var todayDate = new Date();
	        todayDate.setDate (todayDate.getDate() + expiredays);
	        document.cookie = name + "=" + escape(value) + "; path=/; expires=" + todayDate.toGMTString() + ";";
	 }
	var cookieList = function(cookieName) {
		
		var cookie = $.cookie(cookieName);
		
		var items = cookie ? cookie.split(/,/) : new Array();

		return {
		    "add": function(val) {
		      
		        items.push(val);
		        
		        $.cookie(cookieName, items.join(','));
		    },
		    "remove": function (val) { 
		        
		        indx = items.indexOf(val); 
		        if(indx!=-1) items.splice(indx, 1); 
		        $.cookie(cookieName, items.join(','));
			 },
		    "clear": function() {
		        items = null;
		        
		        $.cookie(cookieName, null);
		    },
		    "items": function() {
		        
		        return items;
		    }
		  }
		}  

	console.log(popupList[0].sno);
	 
		$("#closeBtn").click(function (e){
			e.preventDefault();
	        if (document.frm.pop.checked){
	        	console.log('popclose')
	        	cookieList("popupOpen").add(popupList[0].sno);
	        	
	        /* 	if($.cookie("popOpen")!== null){
	        	$.cookie('popOpen',popupList.sno);
	        	}
	        	else{
	        		$.cookie('popOpen', $.cookie(popupList[0].sno);
	        	}	 */
	        }
	   self.close();
	});

		
});
	
		
	</script>
</th:block>	
</div>
</body>
</html>