<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/sellerLayout}">
<div class="container" style="margin-top: 20px;"
	layout:fragment="container">

<div class="seller-content" role="main">
	<div id="seller-content" class="seller-sub-frame">
		<div ng-if="!vm.useOwnTitleBar" class="">
			<div class="seller-sub-title" ng-if="vm.title">
				<div class="pull-left">
					<h2 class="title">
						주문조회<a href="" role="button"
							ng-if="vm.isShowHelperTooltip(vm.currentMenu2d.state) &amp;&amp; !vm.isMobile"
							ng-click="vm.showHelpLayerForProductOriginList('map/prod.orilist/sang')"><i
							class="fn fn-help1" aria-hidden="true"></i><span class="sr-only">도움말</span>
						</a>
					</h2>
				</div>
				<div class="pull-right hidden-xs" ui-view="title-right"></div>
			</div>
		</div>
		<ui-view class="" style="">
		<div class="seller-sub-content">
			<ui-view name="search">

			<div class="panel panel-seller"
				ng-include="'shared/products/origin-list/include/search-condition-area.html.inc'">
				<form name="vm.searchForm" novalidate=""
					ng-submit="vm.func.search()"
					class="ng-pristine ng-valid-pattern ng-valid-max-size-by-split ng-valid-maxlength ng-valid-date-time-input ng-valid ng-valid-required">
					<div class="panel-body">
						<div class="seller-search-section">
							<ul class="seller-list-border">

								<li><label class="control-label">기간</label>
									<div class="input-content">
										<div class="form-inline narrow-area"
											ng-class="{'has-error-msg': (vm.searchForm.fromDate.$invalid || vm.searchForm.toDate.$invalid)}">
											<div class="form-group">
												<div
													class="selectize-control ng-pristine ng-untouched ng-valid single">
													<div
														class="selectize-input items ng-valid ng-pristine full has-options has-items">
														<div data-value="PROD_REG_DAY" class="item">상품등록일</div>
														<input type="text" autocomplete="off" tabindex="0"
															readonly=""
															style="width: 4px; opacity: 0; position: absolute; left: -10000px;">
													</div>
													<div
														class="selectize-dropdown single ng-pristine ng-untouched ng-valid"
														style="display: none; width: 102px; top: 35px; left: 0px;">
														<div class="selectize-dropdown-content">
															<div data-value="PROD_REG_DAY" data-selectable=""
																class="option selected active">상품등록일</div>
															<div data-value="SALE_START_DAY" data-selectable=""
																class="option">판매시작일</div>
															<div data-value="SALE_END_DAY" data-selectable=""
																class="option">판매종료일</div>
															<div data-value="PROD_MOD_DAY" data-selectable=""
																class="option">최종수정일</div>
														</div>
													</div>
												</div>
												<select selectize="" placeholder="상품등록일"
													config="::vm.config.periodTypeSelectizeConfig"
													options="::vm.enums['ProductSearchPeriodType'].values"
													ng-model="vm.searchFormData.searchPeriodType"
													class="ng-pristine ng-untouched ng-valid selectized ng-valid-required ng-not-empty"
													tabindex="-1"
													style="width: 4px; opacity: 0; position: absolute; left: -10000px;">
													<option value="? string:PROD_REG_DAY ?" selected="selected"></option>
													<option value="PROD_REG_DAY">상품등록일</option>
												</select>
											</div>
											<ncp-datetime-range-picker2
												start-date-model="vm.searchFormData.fromDate"
												start-date-name="fromDate"
												end-date-model="vm.searchFormData.toDate"
												end-date-name="toDate"
												date-max="vm.searchFormData.searchPeriodType === 'PROD_REG_DAY' ? 'TODAY' : undefined"
												datetime-picker-format-name="DATE"
												date-required="vm.app === 'CENTER' &amp;&amp; vm.func.isRequireDateFormData()"
												date-range-usable="true"
												date-range-option="vm.config.SearchDateRangePickerPeriodOptions"
												date-markup-option="{onlyDate:true}" nclicks-code="spd.cal"
												nclicks-code-range-button="spd.quick">
											<div class="form-group" ng-if="vm.dateRangeUsable">
												<div class="btn-toolbar">
													<div class="btn-group"
														ng-class="::{'fix-width-col-4' : vm.dateMarkupOption.buttonFixWidth}"
														ng-attr-data-nclicks-code="{{::vm.nclicksCodeRangeButton}}"
														data-nclicks-code="spd.quick">
														<button type="button" class="btn btn-primary2"
															ng-repeat="option in vm.dateRangeOption.periods"
															ng-click="vm.onClickRangeButton($index)"
															ng-disabled="vm.dateDisabled"
															ng-class="{ active: option.active }">오늘</button>
														<button type="button" class="btn btn-primary2"
															ng-repeat="option in vm.dateRangeOption.periods"
															ng-click="vm.onClickRangeButton($index)"
															ng-disabled="vm.dateDisabled"
															ng-class="{ active: option.active }">1주일</button>
														<button type="button" class="btn btn-primary2"
															ng-repeat="option in vm.dateRangeOption.periods"
															ng-click="vm.onClickRangeButton($index)"
															ng-disabled="vm.dateDisabled"
															ng-class="{ active: option.active }">1개월</button>
														<button type="button" class="btn btn-primary2 active"
															ng-repeat="option in vm.dateRangeOption.periods"
															ng-click="vm.onClickRangeButton($index)"
															ng-disabled="vm.dateDisabled"
															ng-class="{ active: option.active }">3개월</button>
														<button type="button" class="btn btn-primary2"
															ng-repeat="option in vm.dateRangeOption.periods"
															ng-click="vm.onClickRangeButton($index)"
															ng-disabled="vm.dateDisabled"
															ng-class="{ active: option.active }">6개월</button>
														<button type="button" class="btn btn-primary2"
															ng-repeat="option in vm.dateRangeOption.periods"
															ng-click="vm.onClickRangeButton($index)"
															ng-disabled="vm.dateDisabled"
															ng-class="{ active: option.active }">1년</button>
													</div>
												</div>
											</div>
											<div class="form-group only-date"
												ng-class="::{'only-date' : vm.dateMarkupOption.onlyDate }">
												<div class="seller-calendar">
													<div class="input-daterange date form-inline">
														<div
															class="form-group _startDate_dropdown seller-datetime-picker _error_start_date_6265663881 dropdown"
															ng-class="{dropdown : !vm.datetimePickerDropUp, dropup : vm.datetimePickerDropUp}">
															<div
																class="input-group dropdown-toggle dropdown_7232548375"
																data-toggle="dropdown"
																ng-click="vm.isStartDateShow = !vm.dateDisabled &amp;&amp; true"
																ng-attr-data-nclicks-code="{{::vm.nclicksCode}}"
																data-nclicks-code="spd.cal">
																<input type="text"
																	class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-date-time-input"
																	name="fromDate" title="날짜 입력"
																	ng-readonly="::vm.dateInputReadonly"
																	ng-required="vm.dateRequired &amp;&amp; !vm.ignoreStartDateRequired"
																	ng-disabled="vm.dateDisabled" ncp-disabled=""
																	ng-model="vm.startDateModel"
																	model-type="YYYY-MM-DDTHH:mm:ss.SSSZ"
																	date-time-input="YYYY.MM.DD."
																	data-date-formats="::vm.inputModelFormats"
																	ncp-message-container="._error_start_date_6265663881"
																	ng-required-err-type="required.daterangepicker.startDate"
																	ncp-validate-change-trigger="" required="required"
																	readonly="readOnly"> <span
																	class="input-group-addon"
																	ng-if="!vm.dateDisabled &amp;&amp; !vm.startDatetimePickerDisabled"><a
																	role="button" href=""><i
																		class="glyphicon glyphicon-calendar"
																		aria-hidden="true"></i><span class="sr-only">달력보기</span></a>
																</span>
															</div>
														</div>
														<div class="form-group dash">
															<div class="input-group">
																<span class="input-group-addon">~</span>
															</div>
														</div>
														<div
															class="form-group _endDate_dropdown seller-datetime-picker _error_end_date_2120671310 dropdown"
															ng-class="::{dropdown : !vm.datetimePickerDropUp, dropup : vm.datetimePickerDropUp}">
															<div
																class="input-group dropdown-toggle dropdown_8428085466"
																data-toggle="dropdown"
																ng-click="vm.isEndDateShow = !vm.dateDisabled &amp;&amp; true"
																ng-attr-data-nclicks-code="{{::vm.nclicksCode}}"
																data-nclicks-code="spd.cal">
																<input type="text"
																	class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-date-time-input"
																	name="toDate" title="날짜 입력"
																	ng-readonly="::vm.dateInputReadonly"
																	ng-required="vm.dateRequired &amp;&amp; !vm.ignoreEndDateRequired"
																	ng-disabled="vm.dateDisabled" ncp-disabled=""
																	ng-model="vm.endDateModel"
																	model-type="YYYY-MM-DDTHH:mm:ss.SSSZ"
																	date-time-input="YYYY.MM.DD."
																	data-date-formats="::vm.inputModelFormats"
																	ncp-message-container="._error_end_date_2120671310"
																	ng-required-err-type="required.daterangepicker.endDate"
																	ncp-validate-change-trigger="" required="required"
																	readonly="readOnly"> <span
																	class="input-group-addon"
																	ng-if="!vm.dateDisabled &amp;&amp; !vm.endDatetimePickerDisabled"><a
																	role="button" href=""><i
																		class="glyphicon glyphicon-calendar"
																		aria-hidden="true"></i><span class="sr-only">달력보기</span></a>
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											</ncp-datetime-range-picker2>
										</div>
									</div></li>
								<li ng-hide="vm.viewData.detailSearchAreaHide" class="ng-hide">
									<label class="control-label">상세검색</label>
									<div class="input-content">
										<div class="form-inline">
											<div class="form-group"
												ng-repeat="type in ::vm.enums['ProductSearchDetailType'].values">
												<div
													class="selectize-control ng-pristine ng-untouched ng-valid single">
													<div
														class="selectize-input items ng-valid ng-pristine full has-options has-items">
														<div data-value="" class="item">재고</div>
														<input type="text" autocomplete="off" tabindex="0"
															readonly=""
															style="width: 4px; opacity: 0; position: absolute; left: -10000px;">
													</div>
													<div
														class="selectize-dropdown single ng-pristine ng-untouched ng-valid"
														style="display: none;">
														<div class="selectize-dropdown-content">
															<div data-value="" data-selectable=""
																class="option selected active">재고</div>
															<div data-value="IN_STOCK" data-selectable=""
																class="option">재고 있음</div>
															<div data-value="OUT_OF_STOCK" data-selectable=""
																class="option">재고 없음</div>
															<div data-value="UNDER_10" data-selectable=""
																class="option">10개 이하</div>
															<div data-value="UNDER_50" data-selectable=""
																class="option">50개 이하</div>
															<div data-value="UNDER_100" data-selectable=""
																class="option">100개 이하</div>
														</div>
													</div>
												</div>
												<select selectize="" config="type.selectizeConfig"
													options="type.options"
													ng-model="vm.searchFormData[type.modelName]"
													class="ng-pristine ng-untouched ng-valid selectized ng-valid-required ng-empty"
													tabindex="-1"
													style="width: 4px; opacity: 0; position: absolute; left: -10000px;">
													<option value="? string: ?" selected="selected"></option>
													<option value="">재고</option>
												</select>
											</div>
											<div class="form-group"
												ng-repeat="type in ::vm.enums['ProductSearchDetailType'].values">
												<div
													class="selectize-control ng-pristine ng-untouched ng-valid single">
													<div
														class="selectize-input items ng-valid ng-pristine full has-options has-items">
														<div data-value="" class="item">남은판매기간</div>
														<input type="text" autocomplete="off" tabindex="0"
															readonly=""
															style="width: 4px; opacity: 0; position: absolute; left: -10000px;">
													</div>
													<div
														class="selectize-dropdown single ng-pristine ng-untouched ng-valid"
														style="display: none;">
														<div class="selectize-dropdown-content">
															<div data-value="" data-selectable=""
																class="option selected active">남은판매기간</div>
															<div data-value="REMAIN_3" data-selectable=""
																class="option">3일 이내</div>
															<div data-value="REMAIN_5" data-selectable=""
																class="option">5일 이내</div>
															<div data-value="REMAIN_7" data-selectable=""
																class="option">7일 이내</div>
															<div data-value="REMAIN_15" data-selectable=""
																class="option">15일 이내</div>
															<div data-value="REMAIN_30" data-selectable=""
																class="option">30일 이내</div>
														</div>
													</div>
												</div>
												<select selectize="" config="type.selectizeConfig"
													options="type.options"
													ng-model="vm.searchFormData[type.modelName]"
													class="ng-pristine ng-untouched ng-valid selectized ng-valid-required ng-empty"
													tabindex="-1"
													style="width: 4px; opacity: 0; position: absolute; left: -10000px;">
													<option value="? string: ?" selected="selected"></option>
													<option value="">남은판매기간</option>
												</select>
											</div>
											<div class="form-group"
												ng-repeat="type in ::vm.enums['ProductSearchDetailType'].values">
												<div
													class="selectize-control ng-pristine ng-untouched ng-valid single">
													<div
														class="selectize-input items ng-valid ng-pristine full has-options has-items">
														<div data-value="" class="item">묶음배송</div>
														<input type="text" autocomplete="off" tabindex="0"
															readonly=""
															style="width: 4px; opacity: 0; position: absolute; left: -10000px;">
													</div>
													<div
														class="selectize-dropdown single ng-pristine ng-untouched ng-valid"
														style="display: none;">
														<div class="selectize-dropdown-content">
															<div data-value="" data-selectable=""
																class="option selected active">묶음배송</div>
															<div data-value="BUNDLEGROUP_POSSIBLE" data-selectable=""
																class="option">가능</div>
															<div data-value="BUNDLEGROUP_IMPOSSIBLE"
																data-selectable="" class="option">불가</div>
														</div>
													</div>
												</div>
												<select selectize="" config="type.selectizeConfig"
													options="type.options"
													ng-model="vm.searchFormData[type.modelName]"
													class="ng-pristine ng-untouched ng-valid selectized ng-valid-required ng-empty"
													tabindex="-1"
													style="width: 4px; opacity: 0; position: absolute; left: -10000px;">
													<option value="? string: ?" selected="selected"></option>
													<option value="">묶음배송</option>
												</select>
											</div>
											<div class="form-group"
												ng-repeat="type in ::vm.enums['ProductSearchDetailType'].values">
												<div
													class="selectize-control ng-pristine ng-untouched ng-valid single">
													<div
														class="selectize-input items ng-valid ng-pristine full has-options has-items">
														<div data-value="" class="item">배송비</div>
														<input type="text" autocomplete="off" tabindex="0"
															readonly=""
															style="width: 4px; opacity: 0; position: absolute; left: -10000px;">
													</div>
													<div
														class="selectize-dropdown single ng-pristine ng-untouched ng-valid"
														style="display: none;">
														<div class="selectize-dropdown-content">
															<div data-value="" data-selectable=""
																class="option selected active">배송비</div>
															<div data-value="FREE" data-selectable="" class="option">
																무료</div>
															<div data-value="CONDITIONAL_FREE" data-selectable=""
																class="option">조건부 무료</div>
															<div data-value="PAID" data-selectable="" class="option">
																유료</div>
															<div data-value="UNIT_QUANTITY_PAID" data-selectable=""
																class="option">수량별</div>
														</div>
													</div>
												</div>
												<select selectize="" config="type.selectizeConfig"
													options="type.options"
													ng-model="vm.searchFormData[type.modelName]"
													class="ng-pristine ng-untouched ng-valid selectized ng-valid-required ng-empty"
													tabindex="-1"
													style="width: 4px; opacity: 0; position: absolute; left: -10000px;">
													<option value="? string: ?" selected="selected"></option>
													<option value="">배송비</option>
												</select>
											</div>
											<div class="form-group"
												ng-repeat="type in ::vm.enums['ProductSearchDetailType'].values">
												<div
													class="selectize-control ng-pristine ng-untouched ng-valid single">
													<div
														class="selectize-input items ng-valid ng-pristine full has-options has-items">
														<div data-value="" class="item">배송비결제</div>
														<input type="text" autocomplete="off" tabindex="0"
															readonly=""
															style="width: 4px; opacity: 0; position: absolute; left: -10000px;">
													</div>
													<div
														class="selectize-dropdown single ng-pristine ng-untouched ng-valid"
														style="display: none;">
														<div class="selectize-dropdown-content">
															<div data-value="" data-selectable=""
																class="option selected active">배송비결제</div>
															<div data-value="COLLECT" data-selectable=""
																class="option">착불</div>
															<div data-value="PREPAID" data-selectable=""
																class="option">선결제</div>
															<div data-value="COLLECT_OR_PREPAID" data-selectable=""
																class="option">착불 또는 선결제</div>
														</div>
													</div>
												</div>
												<select selectize="" config="type.selectizeConfig"
													options="type.options"
													ng-model="vm.searchFormData[type.modelName]"
													class="ng-pristine ng-untouched ng-valid selectized ng-valid-required ng-empty"
													tabindex="-1"
													style="width: 4px; opacity: 0; position: absolute; left: -10000px;">
													<option value="? string: ?" selected="selected"></option>
													<option value="">배송비결제</option>
												</select>
											</div>
											<div class="form-group"
												ng-repeat="type in ::vm.enums['ProductSearchDetailType'].values">
												<div
													class="selectize-control ng-pristine ng-untouched ng-valid single">
													<div
														class="selectize-input items ng-valid ng-pristine full has-options has-items">
														<div data-value="" class="item">배송속성</div>
														<input type="text" autocomplete="off" tabindex="0"
															readonly=""
															style="width: 4px; opacity: 0; position: absolute; left: -10000px;">
													</div>
													<div
														class="selectize-dropdown single ng-pristine ng-untouched ng-valid"
														style="display: none;">
														<div class="selectize-dropdown-content">
															<div data-value="" data-selectable=""
																class="option selected active">배송속성</div>
															<div data-value="NORMAL" data-selectable=""
																class="option">일반배송</div>
															<div data-value="TODAY" data-selectable="" class="option">
																오늘출발</div>
														</div>
													</div>
												</div>
												<select selectize="" config="type.selectizeConfig"
													options="type.options"
													ng-model="vm.searchFormData[type.modelName]"
													class="ng-pristine ng-untouched ng-valid selectized ng-valid-required ng-empty"
													tabindex="-1"
													style="width: 4px; opacity: 0; position: absolute; left: -10000px;">
													<option value="? string: ?" selected="selected"></option>
													<option value="">배송속성</option>
												</select>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="panel-footer">
						<div class="seller-btn-area btn-group-lg">
							<button type="submit" class="btn btn-primary"
								ng-click="vm.viewData.selectedProductStatusType = undefined"
								data-nclicks-code="sgn.search">검색</button>
							<button type="button" class="btn btn-default"
								ng-click="vm.func.reset()" data-nclicks-code="sgn.reset">초기화
							</button>
							<button type="button" class="btn btn-default btn-right active"
								ng-class="{active: vm.viewData.detailSearchAreaHide}"
								ng-click="vm.viewData.detailSearchAreaHide = !vm.viewData.detailSearchAreaHide"
								data-nclicks-code="sss.open">
								상세검색 <i
									ng-class="vm.viewData.detailSearchAreaHide ? 'seller-icon icon-arrow-down-gray' : 'seller-icon icon-arrow-up-gray'"
									aria-hidden="true" class="seller-icon icon-arrow-down-gray"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
			</ui-view>
			<ui-view name="list">
			<div class="panel panel-seller">
				<div class="panel-heading">
					<div class="pull-left">
						<h3 class="panel-title">
							상품목록 (총 <span class="text-primary">0</span>개)
						</h3>
					</div>
					<div class="pull-right"></div>
				</div>
			</div>
			</ui-view>
		</div>
		</ui-view>
	</div>
</div>

</div>
