<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/sellerLayout}">
<div class="container" style="margin-top: 20px;"
	layout:fragment="container">

<div class="seller-content" role="main">
	<div id="seller-content" class="seller-sub-frame">
		<div ng-if="!vm.useOwnTitleBar" class="">
			<div class="seller-sub-title" ng-if="vm.title">
				<div class="pull-left">
					<h2 class="title">문의 관리</h2>
				</div>
				<div class="pull-right hidden-xs" ui-view="title-right"></div>
			</div>
		</div>
		<ui-view class="" style="">
		<div class="seller-sub-content">
			<div class="panel panel-seller">
				<div class="panel-heading">
					<div class="pull-left">
						<h3 class="panel-title">
							문의내역 <span class="count-group"><strong
								class="text-primary">15</strong> <span class="unit">건</span></span>
						</h3>
					</div>
					<div class="pull-right">
						<a href="" class="btn-sort" aria-label="상세검색 노출" role="button"
							ng-class="{active: vm.showCondition}"
							ng-click="vm.showCondition = !vm.showCondition"><i
							class="seller-icon icon-sorting" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="panel-body">
					<ui-view name="search">
					<form name="registerForm" novalidate=""
						disable-dynamic-validation="false" ng-submit="vm.queryPage()"
						class="ng-pristine ng-valid ng-valid-required ng-valid-date-time-input">
						<div class="seller-search-section ng-hide"
							ng-init="vm.showCondition=false" ng-show="vm.showCondition">
							<ul class="seller-list-border">
								<li><label class="control-label" for="commentType">구분</label>
									<div class="input-content">
										<div class="form-inline">
											<div class="form-group">
												<div
													class="selectize-control ng-pristine ng-untouched ng-valid single">
													<div
														class="selectize-input items full has-options has-items ng-valid ng-pristine">
														<div data-value="" class="item">전체</div>
														<input type="text" autocomplete="off" tabindex="0"
															readonly="" style="width: 4px;">
													</div>
													<div
														class="selectize-dropdown single ng-pristine ng-untouched ng-valid"
														style="display: none; width: 206px; top: 35px; left: 0px;">
														<div class="selectize-dropdown-content">
															<div data-value="" data-selectable=""
																class="option selected active">전체</div>
															<div data-value="PRODUCTINQUIRY" data-selectable=""
																class="option">상품 문의</div>
															<div data-value="SETPRODUCTREPLY" data-selectable=""
																class="option">세트상품 댓글</div>
															<div data-value="STORENEWS" data-selectable=""
																class="option">소식 댓글</div>
														</div>
													</div>
												</div>
												<select selectize="" id="commentType" placeholder="전체"
													config="::vm.config.defaultSelectizeConfig"
													options="::vm.config.commentType"
													ng-model="vm.searchFormData.commentType"
													class="ng-pristine ng-untouched ng-valid selectized ng-valid-required ng-empty"
													tabindex="-1"
													style="width: 4px; opacity: 0; position: absolute; left: -10000px;">
													<option value="" selected="selected">전체</option>
												</select>
											</div>
										</div>
									</div></li>
								<li><label class="control-label">문의일</label>
									<div class="input-content">
										<div class="form-inline narrow-area">
											<ncp-datetime-range-picker2
												start-date-model="vm.searchFormData.startDate"
												end-date-model="vm.searchFormData.endDate"
												datetime-picker-format-name="DATE" date-max="'TODAY'"
												date-range-usable="true"
												date-range-option="::vm.config.datePickerRangeOption"
												date-markup-option="{onlyDate:true, buttonFixWidth:true}">

											<div class="form-group" ng-if="vm.dateRangeUsable">
												<div class="btn-toolbar">
													<div class="btn-group fix-width-col-4"
														ng-class="::{'fix-width-col-4' : vm.dateMarkupOption.buttonFixWidth}"
														ng-attr-data-nclicks-code="{{::vm.nclicksCodeRangeButton}}">

														<button type="button" class="btn btn-primary2"
															ng-repeat="option in vm.dateRangeOption.periods"
															ng-click="vm.onClickRangeButton($index)"
															ng-disabled="vm.dateDisabled"
															ng-class="{ active: option.active }">오늘</button>
														<button type="button" class="btn btn-primary2"
															ng-repeat="option in vm.dateRangeOption.periods"
															ng-click="vm.onClickRangeButton($index)"
															ng-disabled="vm.dateDisabled"
															ng-class="{ active: option.active }">3일</button>
														<button type="button" class="btn btn-primary2"
															ng-repeat="option in vm.dateRangeOption.periods"
															ng-click="vm.onClickRangeButton($index)"
															ng-disabled="vm.dateDisabled"
															ng-class="{ active: option.active }">1주일</button>
														<button type="button" class="btn btn-primary2"
															ng-repeat="option in vm.dateRangeOption.periods"
															ng-click="vm.onClickRangeButton($index)"
															ng-disabled="vm.dateDisabled"
															ng-class="{ active: option.active }">1개월</button>
														<button type="button" class="btn btn-primary2 active"
															ng-repeat="option in vm.dateRangeOption.periods"
															ng-click="vm.onClickRangeButton($index)"
															ng-disabled="vm.dateDisabled"
															ng-class="{ active: option.active }">3개월</button>
													</div>
												</div>
											</div>
											<div class="form-group only-date"
												ng-class="::{'only-date' : vm.dateMarkupOption.onlyDate }">
												<div class="seller-calendar">
													<div class="input-daterange date form-inline">
														<div
															class="form-group _startDate_dropdown seller-datetime-picker _error_start_date_1845791947 dropdown"
															ng-class="{dropdown : !vm.datetimePickerDropUp, dropup : vm.datetimePickerDropUp}">
															<div
																class="input-group dropdown-toggle dropdown_9875582395"
																data-toggle="dropdown"
																ng-click="vm.isStartDateShow = !vm.dateDisabled &amp;&amp; true"
																ng-attr-data-nclicks-code="{{::vm.nclicksCode}}">
																<input type="text"
																	class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-date-time-input"
																	name="" title="날짜 입력"
																	ng-readonly="::vm.dateInputReadonly"
																	ng-required="vm.dateRequired &amp;&amp; !vm.ignoreStartDateRequired"
																	ng-disabled="vm.dateDisabled" ncp-disabled=""
																	ng-model="vm.startDateModel"
																	model-type="YYYY-MM-DDTHH:mm:ss.SSSZ"
																	date-time-input="YYYY.MM.DD."
																	data-date-formats="::vm.inputModelFormats"
																	ncp-message-container="._error_start_date_1845791947"
																	ng-required-err-type="required.daterangepicker.startDate"
																	ncp-validate-change-trigger="" readonly="readOnly">
																<span class="input-group-addon"
																	ng-if="!vm.dateDisabled &amp;&amp; !vm.startDatetimePickerDisabled"><a
																	role="button" href=""><i class="fn fn-calendar1"
																		aria-hidden="true"></i><span class="sr-only">달력보기</span></a>
																</span>
															</div>
														</div>
														<div class="form-group dash">
															<div class="input-group">
																<span class="input-group-addon">~</span>
															</div>
														</div>
														<div
															class="form-group _endDate_dropdown seller-datetime-picker _error_end_date_2330514465 dropdown"
															ng-class="::{dropdown : !vm.datetimePickerDropUp, dropup : vm.datetimePickerDropUp}">
															<div
																class="input-group dropdown-toggle dropdown_3640930075"
																data-toggle="dropdown"
																ng-click="vm.isEndDateShow = !vm.dateDisabled &amp;&amp; true"
																ng-attr-data-nclicks-code="{{::vm.nclicksCode}}">
																<input type="text"
																	class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-date-time-input"
																	name="" title="날짜 입력"
																	ng-readonly="::vm.dateInputReadonly"
																	ng-required="vm.dateRequired &amp;&amp; !vm.ignoreEndDateRequired"
																	ng-disabled="vm.dateDisabled" ncp-disabled=""
																	ng-model="vm.endDateModel"
																	model-type="YYYY-MM-DDTHH:mm:ss.SSSZ"
																	date-time-input="YYYY.MM.DD."
																	data-date-formats="::vm.inputModelFormats"
																	ncp-message-container="._error_end_date_2330514465"
																	ng-required-err-type="required.daterangepicker.endDate"
																	ncp-validate-change-trigger="" readonly="readOnly">
																<span class="input-group-addon"
																	ng-if="!vm.dateDisabled &amp;&amp; !vm.endDatetimePickerDisabled"><a
																	role="button" href=""><i class="fn fn-calendar1"
																		aria-hidden="true"></i><span class="sr-only">달력보기</span></a>
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											</ncp-datetime-range-picker2>
										</div>
									</div></li>
								<li><label class="control-label" for="sellerAnswerYn">답변</label>
									<div class="input-content">
										<div class="form-inline">
											<div class="form-group">
												<div
													class="selectize-control ng-pristine ng-untouched ng-valid single">
													<div
														class="selectize-input items full has-options has-items ng-valid ng-pristine">
														<div data-value="" class="item">전체</div>
														<input type="text" autocomplete="off" tabindex="0"
															readonly="" style="width: 4px;">
													</div>
													<div
														class="selectize-dropdown single ng-pristine ng-untouched ng-valid"
														style="display: none; width: 206px; top: 35px; left: 0px;">
														<div class="selectize-dropdown-content">
															<div data-value="" data-selectable=""
																class="option selected active">전체</div>
															<div data-value="false" data-selectable="" class="option">
																미답변</div>
															<div data-value="true" data-selectable="" class="option">
																답변완료</div>
														</div>
													</div>
												</div>
												<select selectize="" id="sellerAnswerYn" placeholder="전체"
													config="::vm.config.defaultSelectizeConfig"
													ng-model="vm.searchFormData.sellerAnswerYn"
													class="ng-pristine ng-untouched ng-valid selectized ng-valid-required ng-empty"
													tabindex="-1"
													style="width: 4px; opacity: 0; position: absolute; left: -10000px;">
													<option value="" selected="selected">전체</option>
												</select>
											</div>
										</div>
									</div></li>
								<li><label class="control-label" for="searchKeywordType">검색어</label>
									<div class="input-content">
										<div class="form-inline">
											<div class="form-group">
												<div
													class="selectize-control ng-pristine ng-untouched ng-valid single">
													<div
														class="selectize-input items ng-valid ng-pristine full has-options has-items">
														<div data-value="PRODUCT_NAME" class="item">상품명</div>
														<input type="text" autocomplete="off" tabindex="0"
															readonly=""
															style="width: 4px; opacity: 0; position: absolute; left: -10000px;">
													</div>
													<div
														class="selectize-dropdown single ng-pristine ng-untouched ng-valid"
														style="display: none; width: 206px; top: 35px; left: 0px;">
														<div class="selectize-dropdown-content">
															<div data-value="PRODUCT_NAME" data-selectable=""
																class="option selected active">상품명</div>
															<div data-value="SET_PRODUCT_NAME" data-selectable=""
																class="option">세트상품명</div>
															<div data-value="SHOP_NEWS_NAME" data-selectable=""
																class="option">소식제목</div>
															<div data-value="CHANNEL_PRODUCT_NO" data-selectable=""
																class="option">상품번호</div>
															<div data-value="CONTENTS_NO" data-selectable=""
																class="option">소식번호</div>
														</div>
													</div>
												</div>
												<select selectize="" id="searchKeywordType"
													placeholder="상품명" config="::vm.config.searchConfig"
													options="::vm.config.searchKeywordType"
													ng-model="vm.searchFormData.searchKeywordType"
													class="ng-pristine ng-untouched ng-valid selectized ng-valid-required ng-not-empty"
													tabindex="-1"
													style="width: 4px; opacity: 0; position: absolute; left: -10000px;">
													<option value="? string:PRODUCT_NAME ?" selected="selected"></option>
													<option value="PRODUCT_NAME">상품명</option>
												</select>
											</div>
											<div class="form-group">
												<div class="seller-input-wrap">
													<input type="text"
														class="form-control ng-pristine ng-untouched ng-valid ng-empty"
														id="keyword" ng-model="vm.searchFormData.keyword"
														ncp-input-clear=""><a role="button"
														class="btn-clear" tabindex="-1" style="display: none;"><span
														aria-label="삭제">×</span></a>
												</div>
											</div>
										</div>
									</div></li>
								<li>
									<div class="seller-btn-area btn-group-lg">
										<button type="submit" class="btn btn-primary">검색</button>
										<button type="button" class="btn btn-default"
											ng-click="vm.initForm(true)">초기화</button>
									</div>
								</li>
							</ul>
						</div>
					</form>
					</ui-view>
				</div>
			</div>
		</div>
		<div class="seller-sub-content">
			<div class="panel panel-seller">
				<div class="panel-heading">
					<div class="pull-left">
						<h3 class="panel-title">
							정산 내역 및 목록 <span class="count-group"></span>
						</h3>
					</div>
					<div class="pull-right">
						<a href="" class="btn-sort" aria-label="상세검색 노출" role="button"
							ng-class="{active: vm.showCondition}"
							ng-click="vm.showCondition = !vm.showCondition"><i
							class="seller-icon icon-sorting" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="panel-body">
					<div class="thickline_box _summaryTable">
						<table class="result_value vertical">
							<caption>
								<span class="blind">조회결과 요약</span>
							</caption>
							<colgroup>
								<col>
								<col>
								<col>
							</colgroup>
							<thead class="blind">
								<tr>
									<th scope="col">내역</th>
									<th scope="col">상세내역</th>
									<th scope="col">금액</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">결제금액</th>
									<td>결제내역 합계</td>
									<td class="amount"><b>- </b>원</td>
								</tr>
								<tr>
									<th scope="row">수수료</th>
									<td class="group" colspan="2">
										<table>
											<colgroup>
												<col>
												<col>
											</colgroup>
											<tbody>
												<tr>
													<td>결제수수료</td>
													<td class="amount"><b>- </b>원</td>
												</tr>
												<tr>
													<td>네이버쇼핑 매출연동 수수료</td>
													<td class="amount"><b>- </b>원</td>
												</tr>
												<tr>
													<td>무이자할부수수료</td>
													<td class="amount"><b>- </b>원</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<th scope="row">최종 정산금액</th>
									<td>(결제금액)-(수수료)</td>
									<td class="amount"><b>- </b>원</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
		</ui-view>
	</div>
</div>
</div>
